<div class="container" id="movieDetails">
    <div class="row">
        <div class="col-md-4 p-5">
            <img src="{{img result.poster}}" height="auto" width="100%">
        </div>
        <div class="col-md-8 pt-5 pl-5">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="font-weight-bold" style="text-transform: capitalize;">{{result.title}}</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p><i class="fas fa-thumbs-up"></i> &nbsp; &nbsp; {{result.upvote}} like this</p>
                    <p><i class="fas fa-thumbs-down"></i> &nbsp; &nbsp; {{result.downvote}} hated this</p>
                    <p><b>Price: </b> &#8369; {{result.price}}</p>
                </div>
                <div class="col-md-8">
                    <h5 class="font-weight-bold">Synopsis:</h5>
                    <p><i>{{result.synopsis}}</i></p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="display-8 px-5" id="reviews">Reviews</h1>
    {{#if user}}
        {{#iff user.type '==' 'client'}}
            <form action="/movies/review/add" method="POST" class="card mx-5">
                <h5 class="card-header">Add a Review</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 p-3">
                            <label for="title" class="form-label">Review Title</label>
                            <input required type="text" class="form-control" id="title" name="title"
                                placeholder="Enter the review title here...">
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-12 p-3">
                            <label for="synopsis">Review Content</label>
                            <div class="form-floating">
                                <textarea required class="form-control" placeholder="Leave a comment here" id="review"
                                    name="review" style="height: 100px"></textarea>
                                <label for="review">Enter the movie review here...</label>
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" name="movie_id" value="{{result._id}}">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <br/>
        {{/iff}}
    {{/if}}

    {{#each reviews}}
        <div class="row review-row px-5">
            <b class="display-6">{{this.title}}</b>
            <p>by: <a href="/profile?id={{this.user_id}}">{{this.username}}</a></p>
            <p>{{this.review}}</p>
        </div>

        <div class="row px-5">
            <div class="col-md-12">
                <a href="/movies/review?id={{this._id}}&movie={{../result._id}}#review">View comments</a>
                
                {{#iff ../user._id '==' this.user_id}}
                    <a class="ms-3 btn btn-danger btn-sm" href="/movies/review/delete?id={{this._id}}&movie={{../result._id}}">Delete Review</a>
                {{/iff}}
            </div>

            <hr class="my-2">
        </div>
    {{else}}
        <b class="display-6 px-5">There aren't any reviews here yet...</b>
    {{/each}}
    <br/>
    <br/>
</div>