<input type="hidden" name="movie" id="movie" value="{{movie._id}}">

<div class="container p-5 min-vh-100">
  <div class="row col-md-12 card">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{img movie.poster}}" style="width: 100%; height: auto;" id="photoView">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" id="nameView">{{movie.title}}</h5>
            <h6 class="mt-3">Synopsis:</h6>
            <p class="card-text mt-2 text-align-justify" id="descriptionView">{{movie.synopsis}}</p>
            <b>Status: </b> {{#iff movie.status 'strcmp' 'available'}} <i class="fas fa-check-circle text-success"></i> <span class="text-success">Available</span> 
            {{else}} <i class="fas fa-times-circle text-danger"></i> <span class="text-danger">Unavailable</span> {{/iff}}  <br/>
            <b>Upvotes: </b> <span id="upvoteCount" data-num="{{movie.upvote}}">{{abbreviateNumber movie.upvote}}</span> <i class="far fa-thumbs-up"></i><br/>
            <b>Downvotes: </b> <span id="downvoteCount" data-num="{{movie.downvote}}">{{abbreviateNumber movie.downvote}}</span> <i class="far fa-thumbs-down"></i><br/>
            
            {{#if user}}
              {{#unless user.admin}}
                <form id="vote">
                  {{#unless voteStatus}}
                  <input type="hidden" name="hadUpvoted" value="false">
                  <input type="hidden" name="hadDownvoted" value="false">
                  <button type="submit" class="btn btn-sm btn-labeled btn-success" data-type='up'>
                    <span class="btn-label"><i class="far fa-thumbs-up"></i></span>
                    Upvote
                  </button>
                  <button type="submit" class="btn btn-sm btn-labeled btn-danger" data-type='down'>
                    <span class="btn-label"><i class="far fa-thumbs-down"></i></span>
                    Downvote
                  </button>
                  {{/unless}}
                
                  {{#iff voteStatus '==' 'up'}}
                  <input type="hidden" name="hadUpvoted" value="true">
                  <input type="hidden" name="hadDownvoted" value="false">
                  <button type="button" class="btn btn-sm btn-labeled btn-success disabled" data-type='up'>
                    <span class="btn-label"><i class="far fa-thumbs-up"></i></span>
                    Upvote
                  </button>
                  <button type="submit" class="btn btn-sm btn-labeled btn-danger" data-type='down'>
                    <span class="btn-label"><i class="far fa-thumbs-down"></i></span>
                    Downvote
                  </button>
                  {{/iff}}
                
                  {{#iff voteStatus '==' 'down'}}
                  <input type="hidden" name="hadUpvoted" value="false">
                  <input type="hidden" name="hadDownvoted" value="true">
                  <button type="submit" class="btn btn-sm btn-labeled btn-success" data-type='up'>
                    <span class="btn-label"><i class="far fa-thumbs-up"></i></span>
                    Upvote
                  </button>
                  <button type="button" class="btn btn-sm btn-labeled btn-danger disabled" data-type='down'>
                    <span class="btn-label"><i class="far fa-thumbs-down"></i></span>
                    Downvote
                  </button>
                  {{/iff}}
                </form>
              {{/unless}}
            {{/if}}
            
            <br />
            {{#if user}}
            {{#iff movie.status 'strcmp' 'available'}}
            {{#notin ../movie._id ../user.watched }}
            {{#notin ../movie._id ../cart}}
            <button type="button" class="btn btn-sm btn-labeled btn-success" id="addToCart" data-movie="{{../movie._id}}">
             <i class="fas fa-cart-plus"></i> Add to Cart
             </button>
            {{/notin}}
            {{/notin}}
            {{/iff}}
            {{/if}}
        </div>
      </div>
    </div>
  </div>

  {{#if user}}
    {{#unless user.admin}}
      <form id="review">
        <div class="row">
          <div class="col-md-12 mt-5">
            <h5>Review Movie</h5>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 my-2">
            <label for="reviewTitle" class="form-label">Review Title</label>
            <input required type="text" class="form-control" name="title" id="reviewTitle" placeholder="Enter your review title here...">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 my-2">
            <label for="reviewContent">Comments</label>
            <div class="form-floating">
              <textarea required class="form-control" name="content" placeholder="Leave a review here..." id="reviewContent" style="min-height: 250px;"></textarea>
              <label for="reviewContent">Leave a review here...</label>
            </div>
          </div>
        </div>
        <div class="row">
          <input type="hidden" name="movie" value="{{movie._id}}">
          <div class="col-md-4 my-2">
            <button type="submit" class="btn btn-primary">
              <span class="spinner-grow spinner-grow-sm visually-hidden" role="status" aria-hidden="true"></span>
              <span class="visually-hidden">Waiting for a response...</span>
              <b>Leave Review</b>
            </button>
          </div>
          <div class="col-md-8" id="responseView">

          </div>
        </div>
      </form>
    {{/unless}}
    {{else}}
  {{/if}}

  <div class="row col-md-12 mt-5">
    <div class="row">
      <h5 class="col-md-12">Reviews:</h5>
    </div>

    <div id="movieReviews">
      <div class="spinner d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>