<div class="container" style="min-height: calc(100vh - 150px); margin-top: 100px;">
    <div class="card">
        <h5 class="card-header">Account Details</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{img profile.photo}}" width="100%" height="auto" max-height="150px" max-width="150px">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">{{ profile.fullname }}</h5>
                    <p><a href="mailto:{{profile.email}}">{{profile.email}}</a> | {{profile.username}}</p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <h1>Reviews</h1>
    {{#each reviews}}
    <div class="row review-row px-5 py-5">
        <div class="col-md-3 text-center">
            <b>{{this.movie.title}}</b>
            <img src="{{img this.movie.poster}}" height="auto" width="100%" max-width="150px">
        </div>
        <div class="col-md-8">
            <b class="display-6">{{this.review.title}}</b>
            <p>by: <a href="/profile?id={{this.review.user_id}}">{{this.review.username}}</a></p>
            <p>{{this.review.review}}</p>
            
            <a href="/movies/review?id={{this.review._id}}&movie={{this.movie._id}}#review">View comments</a>
        </div>
    </div>
    {{else}}
    <b class="display-6 px-5">This person hasn't made any reviews on any movies...</b>
    {{/each}}
</div>