<div class="container">
    <div class="row">
        <div class="col-md-4 p-5">
            <img src="{{img movie.poster}}" height="auto" width="100%">
        </div>
        <div class="col-md-8 pt-5 pl-5">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="font-weight-bold" style="text-transform: capitalize;">{{movie.title}}</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p><i class="fas fa-thumbs-up"></i> &nbsp; &nbsp; {{movie.upvote}} like this</p>
                    <p><i class="fas fa-thumbs-down"></i> &nbsp; &nbsp; {{movie.downvote}} hated this</p>
                    <p><b>Price: </b> &#8369; {{movie.price}}</p>
                </div>
                <div class="col-md-8">
                    <h5 class="font-weight-bold">Synopsis:</h5>
                    <p><i>{{movie.synopsis}}</i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row review-row mx-5 p-3" id="review">
        <b class="display-6">{{review.title}}</b>
        <p>by: <a href="/profile?id={{review.user_id}}">{{review.username}}</a></p>
        <p>{{review.review}}</p>
    </div>
    <div class="row mx-5">
        <div class="col-md-12 py-2">
            {{#iff user._id '==' review.user_id}}
            <a class="btn btn-danger btn-sm"
                href="/movies/review/delete?id={{review._id}}&movie={{movie._id}}">Delete Review</a>
            {{/iff}}
        </div>
    </div>
    <hr/>
    <b id="comments">Comments:</b>
        {{#if user}}
        {{#iff user.type '==' 'client'}}
        <form action="/movies/review/comment" method="POST" class="mx-5 mt-2 card">
            <h5 class="card-header">Leave a Comment</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 p-3">
                        <label for="synopsis">Comment</label>
                        <div class="form-floating">
                            <textarea required class="form-control" placeholder="Leave a comment here" id="comment" name="comment"
                                style="height: 100px"></textarea>
                            <label for="comment">Enter your comment here...</label>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" name="review_id" value="{{review._id}}">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <br />
        {{/iff}}
    {{/if}}

    {{#each comments}}
        <div class="row py-2 mx-5 comment" data-id="{{this._id}}">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/profile?id={{this.user_id}}">{{username}}</a> | <b>{{datePrint this.date}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 px-3">
                        {{comment}}
                    </div>
                </div>
                <div class="row">
                    {{#if ../user}}
                        <div class="col-md-12 px-3">
                            <textarea id="c{{_id}}" class="form-control add-reply" rows="1"
                                placeholder="Press enter to leave a reply..."></textarea>
                        </div>
                    {{/if}}
                    <div class="col-md-12 px-3 mt-2">
                        {{#if replies}}
                            <a href="#" class="view-replies">View Replies</a>
                        {{/if}}

                        {{#iff this.user_id '==' ../user._id}}
                            <a class="btn btn-danger btn-sm delete-comment " href="#">Delete Comment</a>
                        {{/iff}}
                    </div>
                </div>
                {{#if replies}}
                    <div class="row ms-1" id="r{{_id}}"></div>
                {{/if}}
            </div>
        </div>
    {{/each}}

    <br />
    <br />
</div>