<input type="hidden" name="review" id="review" value="{{review._id}}">

{{#if user}}
{{#iff user._id 'strcmp' review.user._id}}
<form style="z-index: 9999;" class="modal fade" id="update" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="updateLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateLabel">Update Review Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 my-2">
            <label for="reviewTitle" class="form-label">Review Title</label>
            <input required type="text" class="form-control" name="title" id="reviewTitle"
              placeholder="Enter your review title here..." value="{{../review.title}}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 my-2">
            <label for="reviewContent">Review Content:</label>
            <div class="form-floating">
              <textarea required class="form-control" name="content" placeholder="Leave a review here..." id="reviewContent"
                style="min-height: 250px;">{{../review.content}}</textarea>
              <label for="reviewContent">Leave a review here...</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 responseView">
        
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div style="float: left;">
          <div class="input-group">
            <span class="input-group-text">Password</span>
            <input type="hidden" name="review" value="{{../review._id}}">
            <input required type="password" name="password" id="password" aria-label="First name" class="form-control">
          </div>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">
          <span class="spinner-grow spinner-grow-sm visually-hidden" role="status" aria-hidden="true"></span>
          <span class="visually-hidden">Waiting for a response...</span>
          <b>Update</b>
        </button>
      </div>
    </div>
  </div>
</form>
{{/iff}}
{{/if}}

<div class="container p-5 min-vh-100">
  <div class="row col-md-12 card">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{img movie.poster}}" style="width: 100%; height: auto;" id="photoView">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" id="nameView">{{movie.title}}</h5>
          <h6 class="mt-3">Synopsis:</h6>
          <p class="card-text mt-2 text-align-justify" id="descriptionView">{{movie.synopsis}}</p>
          <b>Status: </b> {{#iff movie.status 'strcmp' 'available'}} <i class="fas fa-check-circle text-success"></i>
          <span class="text-success">Available</span>
          {{else}} <i class="fas fa-times-circle text-danger"></i> <span class="text-danger">Unavailable</span> {{/iff}}
          <br />
          <b>Upvotes: </b> <span id="upvoteCount" data-num="{{movie.upvote}}">{{abbreviateNumber movie.upvote}}</span>
          <i class="far fa-thumbs-up"></i><br />
          <b>Downvotes: </b> <span id="downvoteCount" data-num="{{movie.downvote}}">{{abbreviateNumber
            movie.downvote}}</span> <i class="far fa-thumbs-down"></i><br />
          {{#if user}}
          {{#iff movie.status 'strcmp' 'available'}}
          {{#notin ../movie._id ../user.watched }}
          {{#notin ../movie._id ../cart}}
          <button type="button" class="btn btn-sm btn-labeled btn-success" id="addToCart" data-movie="{{../movie._id}}">
            <i class="fas fa-cart-plus"></i> Add to Cart
          </button>
          {{/notin}}
          {{/notin}}
          {{/iff}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class='row'>
    <div class='col-md-3 my-3 text-center'>
      <img src='{{img review.user.photo}}' style='height: auto; width: 60%;'>
    </div>
    <div class='col-md-9 my-3'>
      <div class='row'>
        <div class='col-md-8'>
          <h6 id="reviewTitle">{{review.title}}</h6>
        </div>
        <div class='col-md-4'>
          <span class='text-muted'>Last Updated: {{datePrint review.date}}</span>
        </div>
      </div>
      <div class='row'>
        <p class='col-md-8' id="reviewContent">{{review.content}} <br /> ~ <a
            href='/user/view/{{review.user._id}}' style='text-decoration: none'>{{review.user.username}}</a></p>
        <div class="row col-md-4">
          {{#if user}}
            {{#iff user._id 'strcmp' review.user._id}}
              <div class="col-md-12">
                <button class="btn btn-primary btn-sm w-100 my-1" data-bs-toggle="modal" data-bs-target="#update" id="updateButton">Update Review</button>
                <a href="/review/delete?review={{../review._id}}&movie={{../movie._id}}" class="btn btn-danger btn-sm w-100 my-1">Delete Review</a>
              </div>
            {{/iff}}
          {{/if}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <b>Upvotes: </b> <span id="upvoteCountReview" data-num="{{review.upvote}}">{{abbreviateNumber review.upvote}}</span> <i
              class="far fa-thumbs-up"></i><br />
            <b>Downvotes: </b> <span id="downvoteCountReview" data-num="{{review.downvote}}">{{abbreviateNumber review.downvote}}</span> <i
              class="far fa-thumbs-down"></i><br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{#if user}}
            {{#unless user.admin}}
              <form id="vote">
                {{#unless voteStatus}}
                  <input type="hidden" name="hadUpvoted" value="false">
                  <input type="hidden" name="hadDownvoted" value="false">
                  <button type="submit" class="btn btn-sm btn-labeled btn-success" data-type='up'>
                    <span class="btn-label"><i class="far fa-thumbs-up"></i></span>
                    Upvote
                  </button>
                  <button type="submit" class="btn btn-sm btn-labeled btn-danger" data-type='down'>
                    <span class="btn-label"><i class="far fa-thumbs-down"></i></span>
                    Downvote
                  </button>
                {{/unless}}
              
                {{#iff voteStatus '==' 'up'}}
                  <input type="hidden" name="hadUpvoted" value="true">
                  <input type="hidden" name="hadDownvoted" value="false">
                  <button type="button" class="btn btn-sm btn-labeled btn-success disabled" data-type='up'>
                    <span class="btn-label"><i class="far fa-thumbs-up"></i></span>
                    Upvote
                  </button>
                  <button type="submit" class="btn btn-sm btn-labeled btn-danger" data-type='down'>
                    <span class="btn-label"><i class="far fa-thumbs-down"></i></span>
                    Downvote
                  </button>
                {{/iff}}
              
                {{#iff voteStatus '==' 'down'}}
                  <input type="hidden" name="hadUpvoted" value="false">
                  <input type="hidden" name="hadDownvoted" value="true">
                  <button type="submit" class="btn btn-sm btn-labeled btn-success" data-type='up'>
                    <span class="btn-label"><i class="far fa-thumbs-up"></i></span>
                    Upvote
                  </button>
                  <button type="button" class="btn btn-sm btn-labeled btn-danger disabled" data-type='down'>
                    <span class="btn-label"><i class="far fa-thumbs-down"></i></span>
                    Downvote
                  </button>
                {{/iff}}
              </form>
            {{/unless}}
          {{/if}}
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div class="row col-md-12 mt-5">
    <div class="row">
      <h5 class="col-md-12">Comments:</h5>
    </div>
    {{#if user}}
      {{#unless user.admin}}
        <form id="comment">
          <div class="row">
            <div class="col-md-12">
              <label for="comment">Leave A Comment</label>
              <div class="form-floating">
                <input type="hidden" name="review" id="review" value="{{review._id}}">
                <textarea class="form-control" placeholder="Leave a comment here" name="content"
                  style="height: 150px; min-height: 150px;"></textarea>
                <label for="comment">Leave a comment here, press enter to submit your comment...</label>
              </div>
            </div>
          </div>
        </form>
      {{/unless}}
    {{/if}}

    <script>
      {{#if user}}
        const isLoggedIn = true;
      {{else}}
        const isLoggedIn = false;
      {{/if}}
    </script>
    <div id="commentsContainer">
      <div id="comments" class="mb-3">

      </div>
      <div class="row my-2 d-none" id="loadMore">
        <div class="col-md-12">
          <button class="w-100 btn btn-outline-primary">Load More Comments</button>
        </div>
      </div>
      <div class="spinner d-flex justify-content-center my-2">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <h5 class="my-2 d-none">There are no comments for this review yet...</h5>
    </div>
  </div>
</div>